body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
}

/* Global */
.container{
	width:100%;
	padding:0;
	overflow: hidden;
}

/* Header */
header{
	background-color:#00c4d8;
}

header img{
	max-width:100%;
}

/* Navigation Bar */

#navigation{
	background-color:#00c4d8;
	min-height: 30px;
	text-align:center;
}

#navigation a{
	text-decoration: none;
	font-size:20px;
	color:black;
}

#navigation ul{
	margin:0;
	padding:0;
}

#navigation li{
	float: center;
	display: inline;
	padding: 0px 50px 0 80px;
}


/* Comics */

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 75%;
	padding-bottom: 30px;
	padding-top: 20px;
}

#Comics img{
	padding-bottom:50px;
}

h3{
	padding-left:45px;
}

/* About */
#about{
	padding-left:30px;
}

#about h1{
	font-size:30px;
}

#about img{
	max-width: 40%;
}

#about p{
	font-size:20px;
}


/* Footer */
footer{
	background-color:#00c4d8;
	padding: 20px 30px 20px 30px;
	font-size:20px;
}

